<div class="container" style="text-align: center;">
	<h1>ANGGOTA SAMEN</h1>	
</div>

<div class="staff">
	<div class="same-row col-md-12">
		<div class="same-col" style="text-align: center;">
			<div class="photo-container">
				<div class="row">
					<div class="col-md-12">
						<img class="datadiri" src="../assets/about/imam.jpg">
						<h4>IMAM WIRATAMA</h4>
						<h5>00000018173</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="same-col" style="text-align: center;">
			<div class="photo-container">
				<div class="row">
					<div class="col-md-12">
						<img class="datadiri" src="../assets/about/kelvintryanto.jpg">
						<h4>KELVIN TRYANTO</h4>
						<h5>14110110101</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="same-col" style="text-align: center;">
			<div class="photo-container">
				<div class="row">
					<div class="col-md-12">
						<img class="datadiri" src="../assets/about/sep.jpg">
						<h4>SEPTIYAN MUDHIYA SADID</h4>
						<h5>00000017966</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="same-col" style="text-align: center;">
			<div class="photo-container">
				<div class="row">
					<div class="col-md-12">
						<img class="datadiri" src="../assets/about/person.jpg">
						<h4>GRANT MATTHEW GUNAWAN</h4>
						<h5>00000012953</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="same-col" style="text-align: center;">
			<div class="photo-container">
				<div class="row">
					<div class="col-md-12">
						<img class="datadiri" src="../assets/about/ega.jpg">
						<h4>EGA PAMUNGKAS SUSANTO</h4>
						<h5>00000019178</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>